body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  color: #a0a0c0;
  display: inline-block;
  vertical-align: middle;
}

.App {
  text-align: left;
  padding: 0px;
}

.NavBar {
  position: fixed;
  top: 1px;
  left: 0px;
  right: 0px;
  padding: 2px 14px 4px 10px;
  background: rgba(10, 10, 20, 0.6);
  color: white;
  border-bottom: 1px solid #202030;
  z-index: 100;
}

.NavBar a {
  color: white;
}

.homeLink {
  float: left;
  background-color: transparent;
}

.homeLink img {
  margin-top: 3px;
  background-color: transparent;
}

.cartLink {
  float: right;
  background-color: transparent;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.cartLink img {
  width: 36px;
  height: 34px;
  background-color: transparent;
  vertical-align: middle;
}

.filter {
  display: inline-block;
  width: calc(100% - 24px);
  padding: 2px 14px 2px 10px;
  background-color: #000009;
  color: #a0a0b8;
  border-bottom: 1px solid #202030;
}

.filter-link-collapsed {
  color: white;
  cursor: pointer;
  float: left;
  padding: 1px 8px 1px 8px;
  font-size: 13px;
}

.filter-link-expanded {
  color: fuchsia;
  cursor: pointer;
  float: left;
  padding: 1px 8px 1px 8px;
  font-size: 14px;
}

.filter-set {
  width: auto;
  float: left;
  padding: 2px 10px 10px 10px;
  font-size: 12px;
}

.filter-set-name {
  color: white;
  padding: 1px 3px;
  display: block;
  font-size: 13px;
  border-bottom: 1px solid fuchsia;
}

.filter-item {
  padding-top: 3px;
  display: block;
  cursor: pointer;
}

.filter-item-selected {
  padding-top: 3px;
  display: block;
  color: fuchsia;
  cursor: pointer;
}

.filterSpace {
  height: 50px;
  max-width: 100%;
}

.logoImg {
  max-width: 100%;
}

.top-buffer {
  margin-top: 40px;
}

.page-wrapper {
  box-sizing: border-box;
  display: inline-block;
  width: calc(100% - 10px);
  color: white;
  padding: 20px;
}

.thumbnail {
  width: 300px;
  height: 225px;
  margin: 20px;
  display: inline-block;
  border: double #404040 4px;
  cursor: pointer;
}

.thumbnail div {
  width: 300px;
  height: 225px;
}

@keyframes zoom-in {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.8);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.pageSection {
  display: block;
  padding-bottom: 20px;
  border-bottom: 1px solid #272740;
}

.image-preview {
  animation: 0.2s ease-out 0s 1 zoom-in;
  display: inline-block;
  border: double #404048 4px;
  width: 800px;
  max-width: 100%;
  aspect-ratio: 4 / 3;
  margin-right: 20px;
  opacity: 1;
  vertical-align: top;
}

.tagsSection {
  display: block;
  padding-bottom: 20px;
  border-bottom: 1px solid #272740;
}

.tagsHeader {
  font-size: 16px;
  color: #d0d0f0;
  margin: 4px;
  vertical-align: middle;
  display: inline-block;
}

.tag {
  font-size: 12px;
  color: #a0a0b8;
  padding: 2px 12px 2px 12px;
  margin: 4px;
  background-color: #101020;
  border-radius: 6px;
  border: 1px solid #272740;
  vertical-align: middle;
  display: inline-block;
}

.social-wrapper {
  width: 100%;
  border-top: 1px solid #202028;
  border-bottom: 1px solid #202028;
}

.social {
  padding: 16px;
}

.caption-wrapper {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}

.caption {
  background-color: #101020;
  border-radius: 6px;
  color: #a0a0b8;
  width: 300px;

  margin-top: 10px;
  padding: 10px 18px 26px 12px;
  font-size: 14px;
  border: 1px solid #272740;
}

.bigLink {
  color: fuchsia;
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
}

.shareLink {
  color: white;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  padding-left: 14px;
  vertical-align: middle;
  background-color: black;
  border: none;
}

.bigLink:active {
  color: blue;
}

.smallLink {
  color: fuchsia;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.smallLink:active {
  color: blue;
}

.padding20 {
  padding: 20px;
}

.greenButton {
  display: inline;
  background-image: linear-gradient(to bottom, lime, green);
  border-radius: 10px;
  padding: 10px 34px;
  color: white;
  font-size: 20px;
  width: min-content;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  border: solid black 1px;
  white-space: nowrap;
}

.greenButton:hover {
  background-image: linear-gradient(to bottom, rgb(20, 207, 20), rgb(1, 83, 1));
  border-color: grey;
}

.invoiceTable td {
  padding: 6px 16px 6px 8px;
  background-color: #101020;
  font-size: 16px;
  color: #a0a0b8;
}

.largeInput {
  width: 90%;
  font-size: 16px;
  padding: 6px;
  border-radius: 6px;
}

.myTextarea {
  font-size: 10px;
  font-weight: bold;
}

.StripeElement {
  display: block;
  margin: 4px 0 14px 0;
  padding: 4px 10px;
  font-family: Roboto, Source Code Pro, monospace, SFUIDisplay;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
    rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: white;
}

input::placeholder {
  color: #aaaacc;
}

input:focus,
.StripeElement--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
    rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.stripeEmail {
  font-size: 20px;
  width: 280px;
}

.stripeCardNumber {
  font-size: 20px;
  width: 230px;
}

.stripeExpiration {
  font-size: 20px;
  width: 100px;
}

.stripeCvc {
  font-size: 20px;
  width: 60px;
}
